[submodule "baselines/cell-load"]
	path = baselines/cell-load
	url = https://github.com/ArcInstitute/cell-load.git
[submodule "baselines/pytorch_scatter"]
	path = baselines/pytorch_scatter
	url = https://github.com/rusty1s/pytorch_scatter.git
